.jumbotron {
    background-image: url('../img/jumboTec2.jpg');
    background-size: cover;
    padding-top: 16%;
    padding-bottom: 16%
}

.social-image-icon-twitter {
    width: 5px;
    height: 5px;
}

.social-image-icon-instagram {
    width: 10px;
    height: 10px;
}

.card-img {
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    

}

.card-img1 {
    width: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
   

}

.card-img2 {
    width: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;

    

}
/* Icons */
.lang-image-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 100%; */
    margin-right: 20%; 
  
  } 
  
  .css-icon {
      width: 40px;
      height: 40px;
  }

   


/* Footer */

