*{
   box-sizing: border-box;
   
} 

main {
   text-align: center;
}

header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

input[type="search"]{
   border: 1px solid rgb(221, 219, 219);
   padding: 10px;
   width: 350px;
   margin: auto;
   border-radius: 5px;
}

::placeholder {
   text-align: left;
   font-style: italic;
   padding-right: 3px;
}



.gallery {
   max-width: 1000px;
   display: grid;
   margin: auto;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   grid-template-rows: 200px 200px;
   grid-gap: 10px;
   margin-bottom: 90px;
}
